body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.main-container {
  height: 60vh;
  width: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.form-container {
  width: 100%;
  padding: 40px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  margin-right:110px;
  font-size: 24px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  margin-right: 100px;
}

.input-group label {
  width: 160px;
  font-size: 15px;
}

.input-group input {
  width: 250px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.button-sec{
    display: flex;
    gap: 10px;  
}


.submit-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 25px;
  border: 1px solid black;
  background: white;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.submit-btn:hover {
  background: black;
  color: white;
}