* {
    margin: 0;
    padding: 0;
}


.navheader {
  width: 100%;   /* full screen width */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: white;
  padding: 5px;
}

.name{
    font-size: 30px;
    font-weight: bold;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.logoimg {
    width: 60px;
}

.navlinks {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.navlinks a {
    font-size: 20px;
    color: black;
    margin-right: 40px;
    text-decoration: none;
}

.navlinks a:hover {
    text-decoration: underline;
}

.navimg {
    width: 45px;
    border-radius: 50%;
}